.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 43px 378px 0 32px;
}

.u-section-1 .u-image-1 {
  width: 371px;
  height: 259px;
  margin: 128px auto 0 77px;
}

.u-section-1 .u-form-1 {
  height: 579px;
  margin: -277px 128px 60px 553px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 210px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 344px;
    height: 230px;
    margin-top: 168px;
    margin-left: 55px;
  }

  .u-section-1 .u-form-1 {
    margin-top: -312px;
    margin-right: 80px;
    margin-left: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1079px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 55px;
    margin-left: 14px;
  }

  .u-section-1 .u-image-1 {
    width: 337px;
    height: 227px;
    margin-top: 26px;
    margin-right: 184px;
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    margin-top: 30px;
    margin-right: 166px;
    margin-left: 188px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 328px;
    height: 224px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-1 .u-form-1 {
    width: 355px;
    margin-top: 43px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    height: 205px;
    width: 285px;
    margin-top: 63px;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
    margin-top: 28px;
  }
}