.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 304px;
  margin: 98px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 10px auto 0 13px;
}

.u-section-1 .u-text-2 {
  margin: 58px auto 0 13px;
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }
}